<nav>
    <div class="logo"> 
    <ul>
        <li><img src="/css/images/PM.png" alt="Your Logo"></a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>
</nav>