<!--
File name:home.ejs
Student Name: Pallavi Mishra,
StudentID: 301294886
Date: September 30
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
      <!-- Header Section -->
    <header>
        <%- include("partials/header"); %>

    </header>
     
    <div class="bg">
         <!-- Hero Section -->
    <div class="hero">
        <h1>Welcome to My Portfolio</h1>
        <p>Inspiring Futures Through Creativity.</p>
        
         <!-- Link to About Page -->
        <a href="/about" class="btn">About</a>
        <p>I aim to inspire others by sharing my passion for Web designing.<br> It's not just a collection of projects; it's a reflection of my dedication to constant growth and learning.</p>
    </div>
</div>
 <!-- Footer Section -->
    <%- include("partials/footer"); %>
</body>
</html>